## Python Mini-Project: Data Clean-Up, Pt. 1

Pay close attention to the prompts to help guide you through this task.

In [19]:
# Dependencies
import pandas as pd

In [20]:
# load CSV
bootcamp_file = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [21]:
# Read with pandas
bootcamp_df=pd.read_csv(bootcamp_file)

/Users/murillojessica/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (21,57) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
# Inspect all columns
bootcamp_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [23]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
# Use iloc to accomplish this (remember that you need to take the position of the rows and columns into account)

bootcamp_df_new = bootcamp_df.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
bootcamp_df_new

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15615,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Kenya,software development and IT,Self-employed freelancer,male,0.0,40.0,10000.0,NaN,bachelor's degree,Chemistry
15616,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,0.0,15.0,10000.0,Front-End Web Developer,bachelor's degree,Electrical Engineering
15617,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Nigeria,NaN,Self-employed freelancer,male,NaN,14.0,48000.0,NaN,bachelor's degree,Chemistry
15618,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Spain,education,Self-employed freelancer,male,NaN,10.0,10000.0,NaN,master's degree (non-professional),Math
15619,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,0.0,2.0,18000.0,NaN,bachelor's degree,Graphic Design

In [24]:
# Change "0" to "No" and "1" to "Yes" in response columns
# Hint use the df.replace functio
bootcamp_df_new['AttendedBootcamp']= bootcamp_df_new['AttendedBootcamp'].replace({1.0:'Yes', 0.0:'No' })

bootcamp_df_new

/Users/murillojessica/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15615,39.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Kenya,software development and IT,Self-employed freelancer,male,0.0,40.0,10000.0,NaN,bachelor's degree,Chemistry
15616,27.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,0.0,15.0,10000.0,Front-End Web Developer,bachelor's degree,Electrical Engineering
15617,37.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Nigeria,NaN,Self-employed freelancer,male,NaN,14.0,48000.0,NaN,bachelor's degree,Chemistry
15618,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Spain,education,Self-employed freelancer,male,NaN,10.0,10000.0,NaN,master's degree (non-professional),Math
15619,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,0.0,2.0,18000.0,NaN,bachelor's degree,Graphic Design

In [25]:
# Calculate total number of respondents in survey
# consider using the len() function
total_respondents= len(bootcamp_df_new["AttendedBootcamp"])
total_respondents

15620

In [26]:
# Extract rows corresponding only to people who attended a bootcamp
# Filter using df.loc on the AttendedBootcamp column
attended_bc_df = bootcamp_df_new.loc[bootcamp_df_new['AttendedBootcamp'] == "Yes",:]
attended_bc_df

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20.0,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,1.0,1.0,0.0,45000.0,0.0,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,0.0,10.0,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,1.0,1.0,1.0,75000.0,1.0,3.0,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,1.0,30.0,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,0.0,NaN,1.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60.0,NaN,NaN,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15539,39.0,Yes,1.0,1.0,1.0,NaN,1.0,NaN,more than 1 million,NaN,Mexico,NaN,Self-employed freelancer,female,NaN,15.0,36000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
15540,24.0,Yes,1.0,1.0,1.0,NaN,0.0,NaN,more than 1 million,NaN,Kenya,"arts, entertainment, sports, or media",Employed for wages,female,NaN,10.0,16800.0,NaN,bachelor's degree,Computer Systems Networking and Telecommunicat...
15541,23.0,Yes,1.0,1.0,0.0,21600.0,1.0,NaN,more than 1 million,NaN,Mexico,software development and IT,Employed for wages,male,NaN,24.0,42000.0,NaN,master's degree (non-professional),Computer Software Engineering
15593,29.0,Yes,0.0,NaN,0.0,NaN,0.0,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,female,0.0,5.0,200000.0,NaN,bachelor's degree,Accounting
15600,28.0,Yes,1.0,1.0,0.0,36000.0,1.0,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,female,NaN,8.0,200000.0,NaN,bachelor's degree,Marketing

In [27]:
# Calculate average age of attendees
# Pull out the `Age` series and take the average of it
avg_age = round(attended_bc_df['Age'].mean())
avg_age

31

In [44]:
# Calculate how many people attended a bootcamp
# Count the values of the AttendedBootcamp column
total_attendees = attended_bc_df['AttendedBootcamp'].count()
total_attendees

6.101152368758003

In [29]:
# Calculate how many attendees hold degrees
# It is easier to do this with `value_counts() count values for the SchoolDegree column

degrees_held = attended_bc_df['SchoolDegree'].value_counts()
degrees_held

bachelor's degree                           462
some college credit, no degree              116
master's degree (non-professional)           96
professional degree (MBA, MD, JD, etc.)      39
high school diploma or equivalent (GED)      38
associate's degree                           32
trade, technical, or vocational training     24
some high school                             10
Ph.D.                                         8
no high school (secondary school)             7
Name: SchoolDegree, dtype: int64

In [30]:
# Count the number of records where the person is a degree holder
# There are several ways to approach this. You can look for people who have degrees
# or for people who don't have degrees depending on the value of the SchoolDegree column

degree_holders_df = attended_bc_df.loc[(attended_bc_df['SchoolDegree']=="bachelor's degree")|
                                    (attended_bc_df['SchoolDegree']=="master's degree (non-professional)")|
                                    (attended_bc_df['SchoolDegree']=="professional degree (MBA, MD, JD, etc.)")|
                                    (attended_bc_df['SchoolDegree']=="associate's degree")|
                                    (attended_bc_df['SchoolDegree']=="Ph.D."),:]
                                                   
       

total_degree_holders = len(degree_holders_df['SchoolDegree'])
total_degree_holders

percent_with

637

In [102]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification

gender = attended_bc_df['Gender'].value_counts()

gender

male           496
female         326
genderqueer      6
trans            3
agender          2
Name: Gender, dtype: int64

In [32]:
# Calculate percentage of respondents who attended a bootcamp

percent_attended = (total_attendees/total_respondents)*100
percent_attended

6.101152368758003

In [108]:
# Calculate percentage of respondents belonging to each gender
gender_list = gender.to_list()

#calculate groups
males = gender_list[0]
females = gender_list[1]
genderqueer =gender_list[2]
trans=gender_list[3]
agender=gender_list[4]
gender_nospecific_total =genderqueer + trans + agender

#group percentages 
percent_nonbinary_attendees =(gender_nospecific_total/total_attendees)*100
percent_female_attendees = (females/total_attendees)*100
percent_male_attendees =(males/total_attendees)*100

#gender_df 
gender_list

[496, 326, 6, 3, 2]

In [34]:
# Calculate percentage of attendees with a college degree

percent_attendees_with_degrees = (total_degree_holders/total_attendees)*100
percent_attendees_with_degrees

66.84155299055614

In [42]:
# Calculate average post-bootcamp salary

avg_salary = attended_bc_df.mean()['BootcampPostSalary']
avg_salary

63740.50606060606

In [140]:
# Create a new table consolidating above calculations

bootcamp_summary = [{'Total Surveyed':total_respondents,
                    'Total Bootcamp Attendees':total_attendees,
                    '% Attended Bootcamp':float(percent_attended),
                    'Avg. Age':avg_age,
                    'Has a degree':float(percent_attendees_with_degrees),
                    '% Male':float(percent_male_attendees),
                    '% Female':float(percent_female_attendees),
                    '% Non Gender Specific':float(percent_nonbinary_attendees),
                    'Average Post Bootcamp Salary':float(avg_salary)}]

bootcamp_summary_df = pd.DataFrame(bootcamp_summary)

In [141]:
# Improve formatting before outputting spreadsheet

bootcamp_summary_df['Total Surveyed'] = bootcamp_summary_df['Total Surveyed'].map("{:,}".format)
bootcamp_summary_df['% Attended Bootcamp'] = bootcamp_summary_df['% Attended Bootcamp'].map("{:.2f}%".format)
bootcamp_summary_df['Has a degree'] = bootcamp_summary_df['Has a degree'].map("{:.2f}%".format)
bootcamp_summary_df['% Male'] = bootcamp_summary_df['% Male'].map("{:.2f}%".format)
bootcamp_summary_df['% Female'] = bootcamp_summary_df['% Female'].map("{:.2f}%".format)
bootcamp_summary_df['% Non Gender Specific'] = bootcamp_summary_df['% Non Gender Specific'].map("{:.2f}%".format)
bootcamp_summary_df['Average Post Bootcamp Salary'] = bootcamp_summary_df['Average Post Bootcamp Salary'].map("${:,.2f}".format)
bootcamp_summary_df

,Total Surveyed,Total Bootcamp Attendees,% Attended Bootcamp,Avg. Age,Has a degree,% Male,% Female,% Non Gender Specific,Average Post Bootcamp Salary
0,"15,620",953,6.10%,31,66.84%,52.05%,34.21%,1.15%,"$63,740.51"

In [143]:
# Export to Excel
# Use df.to_excel to export to excel. Don't include the indexes

bootcamp_summary_df.to_excel("output/bootcamp_summary.xlsx", index=False)